<div class="wrapper">
    <div class="editContent">
        <label for="">Set minimum humidity value</label><br>
        <input id="" type="number" name="" id=""><br>

        <label for="">Set minimum humidity value</label><br>
        <input id="" type="number" name="" id=""><br>

        <label for="">Set minimum humidity value</label><br>
        <input id="" type="number" name="" id=""><br>

        <label for="">Set minimum humidity value</label><br>
        <input id="" type="number" name="" id="">
    </div>
</div>
<button class="btn btn-lg btn-reg" (click)="logout()">Logout</button>